# ======================
# Angular
# ======================
node_modules/
dist/
coverage/
.angular/
.cache/

# ======================
# Python / Django
# ======================
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
media/

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db