.centeralign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#role {
    option:not(:disabled) {
        cursor: pointer;
    }
}


.landingpage {

    width: 100%;
    height: 100%;
    background-image: url('./../../assets/img/register.png');
    background-size: cover;

    .topalign {
        margin-top: 1% !important;
    }

    .selectrolecontent {
        margin-top: 2%;
    }

    .displaytext {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-family: 'poppin' !important;
    }

    .create {
        margin-top: 30px;
        @extend .common;
    }

    .common {
        margin-bottom: 40px;
        background-color: #636569 !important;
        border-color: #636569 !important;
        width: 200px;
        border-radius: 30px;
        font-size: 14px;
        padding: 2px;
        font-family: poppin !important;
    }

    .join,
    .facilitysave {
        margin-top: 0px;
        @extend .common;
    }

    h3 {
        font-size: 24px;
        color: #fff;
        text-align: center;
        font-family: 'poppin' !important;
    }

    label {
        font-size:18px;
        font-weight: 300;
        color: #fff;
        font-family: 'poppin' !important;
    }



}

.alingbtnscenter {
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}